.thermometer {
  background-color: #eaeaea;
  border-radius: 10px;
  width: 50px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.mercury {
  background-color: #ff6347;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: height 0.3s ease-in-out;
}